/* Estilos generales */
body {
    font-family: 'Georgia', serif;
    margin: 0; 
    padding: 0; 
    text-align: justify;
    background-image: url('fondo.jpg'); 
    background-size: cover; /* Hace que la imagen cubra todo  */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* La imagen permanece fija */
    color: white;
    min-height: 100vh; /* Asegura que el body tenga al menos el tamaño completo de la pantalla */
}

/* Estilo del título principal */
h1 {
    color: rgb(7, 26, 44);
    text-align: center;
    font-family: 'Brush Script MT', cursive; 
    font-size: 10em;
    padding: 160px; 
    margin: 25px;
    text-shadow: 0 4px 8px rgba(0, 0, 139, 0.5);

}

/* Estilos del titulo h1 Glosario */

.titulo-glosario {
    text-decoration: none; 
    color: inherit; 
    transition: all 0.3s ease; 
}


.titulo-glosario:hover {
    font-size: 1.2em; 
    color: #1c0de7;
    text-shadow: 2px 2px 5px rgba(26, 147, 199, 0.7);
}

/* Estilo del botón */

.boton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px 30px;
    background-color: #18cdec;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(19, 80, 235, 0.5);

}

.boton:hover {
    background-color: #325ca5;
}

/* Estilo del índice */
#indice {
    font-family: 'Georgia', serif;
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
    padding: 0;
    background-color: #441ecbcc; 
    border-radius: 8px;
    width: 97%;
    margin: 25px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Listado del índice */
ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* tres columnas */
    gap: 20px;
    padding: 20px;
    list-style-type: none;
    text-align:center ;
}

/* Estilo de los enlaces del índice */
ol li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    font-size: 1.8em;
    padding: 30px 0;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

ol li a:hover {
    color: #6200ff;
    font-weight: bold;
}

/* Estilo para el título h3 */
h3 {
    margin: 20px 0 10px;
    font-size: 2.5em; 
    position: relative;
    color: black; 
    margin-left: 40px; 
    font-family: 'Times New Roman', serif; 
}

/* Estilo para los enlaces dentro del título h3 */
h3 a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

h3 a:hover {
    font-size: 1.6em;
}

.line {
    display: block;
    height: 5px;
    background-color: rgb(101, 21, 250);
    margin-top: 5px;
    width: 300px; 
    margin-left: 20px; 
}


/* Estilo para la definición de los términos */
.glosario .definicion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Estilo para el texto */
.definicion .texto {
    width: 48%;
    padding-left: 40px; 
    color: rgb(243, 238, 238); 
    text-shadow: 2px 2px 2px black;
    font-family: 'Times New Roman', serif; 
    font-size: 1.5em;
}

/* Estilo para la columna de la imagen */
.definicion .imagen {
    width: 48%;
    text-align: center;
}

.imagen img {
    max-width: 100%; /* Asegura que la imagen nunca sea más grande que su contenedor */
    width: 400px; /* Define el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Centra la imagen como bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    object-fit: contain; /* Ajusta la imagen al área asignada sin deformarla */
}

